body {
	/*background-image: linear-gradient(29deg, #eeaeca, #94bbe9);*/
	background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ), url(../media/background.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.125rem;
}

.heading_title {
	text-align: center;
	color: white;
}



.main {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
}

div.content {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	line-height: 50px;
}

input, select {
	border-radius: 4px;
	border: 0px;
	width: 100%;

}

label {
	display: flex;
	/*align-items: center;*/
}

.form-control {
	width: 100%;
	height: 2.375rem;
}

		
label {
	margin-bottom: -15px;
}

.question {
	text-align: left;
	align-content: left;
}

.input-radio {
	/*display: inline-block;*/
  min-height: 1.25rem;
  min-width: 1.25rem;
  margin-right: 90%;
}

.recommend {
	margin-right: 90%;
}
