body {
	/*background-image: linear-gradient(29deg, #eeaeca, #94bbe9);*/
	background-image: linear-gradient(
      115deg,
      rgba(238, 174, 202, 0.8),
      rgba(148, 187, 233, 0.7)
    ), url(../media/background.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-attachment: scroll;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.125rem;
}

.heading_title {
	text-align: center;
	color: white;
}

/*
 * Determines the position of 
 * main content element.
 */
.main {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
}

/*
 * Creates black box in the centre of page.
 */
.content {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 20px;
	line-height: 50px;
}

label {
	display: flex;
	line-height: 25px;
}

.form-control {
	width: 100%;
	height: 2.375rem;
	border-radius: 4px;
	border: 0px;
}

.radio-btns-container{
	display: flex;
	flex-direction: column;
	line-height: 25px;
}

.radio-btn {
	display: block;
}

.question {
	margin-bottom: 15px;
}

.input-textarea {
	border-radius: 5px;
  	width: 95%;
  	height: 50px;
  	padding: 10px;
  	resize: none;
}

.submit-button {
	width: 100%;
	background-color: #37af65;
	border-radius: 5px;
	padding: 0.75rem;
  	color: white;
}